exploring energy dataset

In [1]:
import pandas as pd

In [2]:
energy_df = pd.read_csv("energy_disclosure_2021_rows.csv")
energy_df

,10_Digit_BBL,Street_Number,Street_Name,DOF_Gross_Square_Footage,Energy_Efficiency_Grade,Energy_Star_1-100_Score
0,1007610020,325,WEST 37 STREET,48843,A,100
1,1007610022,313,WEST 37 STREET,82354,C,62
2,1007610028,307,WEST 37 STREET,102824,B,79
3,1007610033,545,8 AVENUE,166874,A,86
4,1007610037,555,8 AVENUE,162260,A,100
...,...,...,...,...,...,...
95,1000370013,129,FRONT STREET,34613,C,66
96,1000370023,180,MAIDEN LANE,1079361,B,72
97,1000380001,100,WALL STREET,463664,C,65
98,1000380017,88,PINE STREET,664990,B,77
99,1000390012,110,MAIDEN LANE,1104184,D,18